.container{
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: center;
    background-color: #58B09C;
    // height: 100vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}
.div{
    width: 15%;
}