.container{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #58B09C;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
}
.div{
    width: 15%;
}